.container {
  color: white;
  padding: 15px 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 100%;
}

.valueStatistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.valueStatistics__title {
  margin-bottom: 20px;
}

.valueInfo {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(73, 71, 71);
  padding: 10px;
  align-items: center;
  background-color: rgb(31, 33, 41);
  width: 20%;
  border-radius: 7px;
  margin: 10px 0;
  min-width: 230px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.valueInfo p {
  font-weight: 800;
}

.itemLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLeft h5 {
  margin-left: 10px;
}

.description {
  max-width: 800px;
  margin: 50px 0;
}

.description p {
  margin: 10px 0;
  margin-bottom: 15px;
  color: rgb(209, 204, 204);
}
