.card {
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgb(30, 34, 43);
  color: white;

  display: flex;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  flex-direction: column;
}

.title {
  align-items: center;
  display: flex;

  margin-bottom: 20px;

  justify-content: space-between;
}

.title h5 {
  font-size: 16px;
  font-weight: 600;
}

.card p {
  margin: 10px 10px;
}
